<template name="aboutPage">


<div class="ui container tab active tabDataContainer" >
    <!-- Tab Content !-->

    <div class="sixteen wide column tabHeadingContainer">
      <h2 class="ui header centered featArticleHeader fontColorGrey">
        Gamla fólkið skilur ekki unga fólkið.. Hvað er til ráða?
        <div class="sub header featSubHeader">Partímörgæsin Euler lagði höfuðið í bleyti í langan tíma. Partímörgæsin Euler komst að lokum að þeirri niðurstöðu <br> að besta leiðin til þess að brúa kynslóðabilið væri að búa til vefsíðu!  </div>
      </h2>
    </div>

    <div class="ui stackable two column grid">
      <div class="column">
        <div class="ui segment featSegment featSegmentImage">
          <img class="ui centered large image" src="img/party1.png">
        </div>
      </div>
      <div class="column">
        <div class="ui segment featSegment ">
          <h2 class="ui header featSegmentHeader left aligned">Partímörgæs býr til slangurorðabók</h2>
          <p class="featSubHeaderP">Partímörgæsin fór í háskóla til þess að læra að byggja brýr og það var því lítið mál fyrir partímörgæsina að brúa eitt stykki kynslóðabil. En hvernig fór partímörgæsin að þessu flókna verki ?</p>
          <p class="featSubHeaderP">Partímörgæsin lærði helling af stærðfræði og fann bestu leiðina til þess að brúa kynslóðabilið, með bestun. </p>
        </div>
      </div>
    </div>


      <div class="ui stackable two column grid">
      <div class="column">
        <div class="ui segment featSegment ">
          <h2 class="ui header featSegmentHeader left aligned">Partímörgæs fer í partí</h2>
          <p class="featSubHeaderP">Partímörgæsin var samt sem áður heillengi að búa til vefsíðuna því partímörgæsin vildi fara í partí og drekka sig blindfulla á Havanaclub, líkt og háskólamörgæsir gera.</p>
          <p class="featSubHeaderP">Partímörgæsin var timbruð í marga daga eftir allt háskóladjammið því erfitt er að standast hópþrýstinginn sem þrýstir niður á partímörgæsina með fjölmörgum Pöskulum. </p>
        </div>
      </div>
      <div class="column">
        <div class="ui segment featSegment featSegmentImage">
          <img class="ui centered large image" src="img/party2.png">
        </div>
      </div>
    </div>


      <div class="ui stackable two column grid">
      <div class="column">
        <div class="ui segment featSegment featSegmentImage">
          <img class="ui centered large image" src="img/party3.png">
        </div>
      </div>
      <div class="column">
        <div class="ui segment featSegment ">
          <h2 class="ui header featSegmentHeader left aligned">Partímörgæs fær uppljómun</h2>
          <p class="featSubHeaderP">Það kom líkt og þruma úr heiðskíru lofti, Partímörgæsin áttaði sig allt í einu á því að partí er ekki tilgangur lífsins. Eftir þessa uppljómun þá fann partímörgæsin fyrir rosalega mikilli tilvistarkreppu. Afhverju var partímörgæsin búin að eyða svona miklum tíma í partí? </p>
          <p class="featSubHeaderP">Þegar partímörgæsin var búin að vera edrú í þónokkuð margar helgar í röð þá fann partímörgæsin tilgang lífsins. Að búa til vefsíðu sem brúar kynslóðabil á þæginlegan og einfaldan hátt!</p>

        </div>
      </div>
    </div>




  </div>


</template>
