<template name="randomPage">

<div class="ui container">
	<div class="ui stackable grid wordContainer">


	  <div class="ten wide column word addBottomMargin" >

	  </div>

	<div class="five wide column word addBottomMargin">
		<div class="ui fluid card wordCard raised segment">
		  <a class="image" href="{{pathFor 'slangSubmit'}}">
		    <img src="/img/matthew.png">
		  </a>
		  <div class="content noPadding">
		    <div class="meta noPadding">

					<a class="ui fluid animated vertical orange  icon button " href="{{pathFor 'slangSubmit'}}" id="addWordBtn">
						<div class="visible content">
							<i class="icon huge write"></i>
						</div>
						<div class="hidden content">
							<div class=" addbtnFont">Bæta við</div>
						</div>
					</a>
    		</div>
  		  </div>

	  </div>
	</div>

	{{#each randomDoc}}
		{{> slangItem}}
	{{/each}}

	<div class="ui ten wide column">
		<button class="fluid massive blue ui icon button genRandom">
		<i class=" big random icon">   </i>
		</button>
	</div>



	</div>
</div>


</template>
