<template name="slangItem">

	<div class="ten wide column word ">
		<div class="ui fluid card wordCard piled segment">
		  <div class="content">
		    <h1 class="ui blue center aligned header wordName">{{title}}

				</h1>






		    <div class="ui top right attached label socialMediaLabel">
					<button class="ui basic circular icon button getLink" data-content="Afrita yfir í klippiborð" data-clipboard-text="www.sjomlaslangur.com/random/{{_id}}" ><i class="linkify icon"></i></button>

					{{> shareit shareData}}


		    </div>

		    <div class="ui top left attached label favoriteLabel">

				 <span class=" favoriteMe star {{#if isFavorited}} active {{/if}}">
			      <i class="big star icon {{#if isFavorited}} inverted orange {{/if}} "></i>
			    </span>

			</div>
		    <div class="meta">
		      <span class="right floated time">{{submittedDate}}</span>
		      <span class="username"><a href="/users/{{owner}}">{{owner}}</a></span>
		    </div>
		    <div class="description">
		      <p class="definition">{{description}}</p>
		      <p class="quote">"{{example}}"</p>
		      {{#if isInRole 'webmaster'}}
    			<button class="ui red webmasterdelete button" ></button>
  			  {{/if}}
  			  <span class="ui bottom right attached label reportModal"><a>Tilkynna</a></span>
		    </div>
		  </div>

		<div class="ui two massive bottom attached buttons" >
		    <div class="ui inverted basic blue icon button upvote ratingBtn {{#if isUpvoted}} active {{/if}} " ><i class="big inverted blue thumbs up icon upvoteIcon {{#if isUpvoted}} active {{/if}}"></i>{{upvotes}}</div>
		    <div class="ui inverted basic  red  icon button downvote ratingBtn {{#if isDownvoted}} active {{/if}}" ><i class="big inverted red thumbs down icon downvoteIcon {{#if isDownvoted}} active {{/if}}"></i>{{downvotes}}</div>
		</div>
	  </div>
	</div>

</template>
